@{
  Layout ="_Layout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@using HairSalon.Models;
@model HairSalon.Models.Client

<h4>Add A New Client</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model=>model.ClientName)
  @Html.TextBoxFor(model=>model.ClientName, new {@required="required"})

  @Html.LabelFor(model=>model.Stylist, "Stylist")
  @Html.DropDownList("StylistId")

  <input type="submit" value="Add New Client" class="btn btn-success btn-sm" />
}
<p>@Html.ActionLink("Show All Clients", "Index", null, null, new { @class = "btn btn-success btn-sm"})</p>