@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>
<h4>Edit this Client: @Html.DisplayFor(model => model.ClientName)</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)
    @Html.LabelFor(model => model.ClientName)
    @Html.TextBoxFor(model => model.ClientName, 
    new {@required="required"})
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId", null, "Please Select", htmlAttributes: new{required = "Please Select a Client"})
    <input type="submit" value="Save"  class="btn btn-info btn-sm"/>
}
<br>
<p>@Html.ActionLink("Back to Client list", "Index", null, new { id=Model.ClientId }, new { @class = "btn btn-info btn-sm" })</p>